@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-padrao: Sriracha, Arial, sans-serif;
    --fonte-titulo: Passion One, Arial, sans-serif;
}

header {
    background-color: black;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 5em;
    padding-left: 15px;
    padding-right: 15px;
}

header > h1 > strong {
    font-size: 1.4em;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte-padrao);
    padding: 30px;
}

main p {
    margin: 20px 0px 20px 0px;
    font-size: 2em;
}

#fundo1 {
    background-image: url("imagens/background001.jpg");
}

div.fundo {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-color: black;
}

footer > p {
    text-align: center;
    color: white;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}