@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Indie+Flower&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

:root {
    --fonte1: 'Indie Flower', 'Arial', 'sans-serif';
    --fonte2: 'Poppins', 'Arial', 'sans-serif';
}

header {
  font-family: var(--fonte2);  
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1 {
  padding: 20px;
  font-size: 4em;
  font-weight: 600;
}

header a,
footer a {
  color: white;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

main p {
  font-family: var(--fonte1);  
  margin: 30px;
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.8em;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

main > section > p {
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.493);
  padding: 15px;
  width: fit-content;
  transform: translate(-15px, -15px);
}

section.imagem {
  background-color: lightgray;
  background-position: center right;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

section#pic1 {
  background-image: url("imagens/background001.jpg");
}

section#pic2 {
  background-image: url("imagens/background002.jpg");
}

footer {
  font-family: var(--fonte2);  
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
