@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --fonte-padrao: Sriracha, Arial, sans-serif;
  --fonte-titulo: Passion One, Arial, sans-serif;
}

html,
body {
  min-height: 100vh;
}

header {
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

header > h1 {
  font-family: var(--fonte-titulo);
  font-size: 6em;
  padding-left: 15px;
  padding-right: 15px;
  font-variant: small-caps;
}

header > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a,
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

section {
  font-family: var(--fonte-padrao);
  font-size: 1.5em;
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

section.imagem {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: right center;
  color: white;
  box-shadow: inset 5px 5px 15px 0px rgba(0, 0, 0, 0.425);
  background-attachment: fixed;
}

section.imagem > p {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.479);
  padding-left: 15px;
  transform: translate(-15px);
}

section#fundo1 {
  background-image: url("imagens/background001.jpg");
}

section#fundo2 {
  background-image: url("imagens/background002.jpg");
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  background-color: black;
  text-align: center;
}

footer > p {
  color: white;
}
